.sidebar {
    width: 250px;
    height: 110%;
    background-color: #333;
    position: fixed;
    top: 3%;
    left: -250px;
    overflow-y: auto;
    z-index: 10;
    padding-top: 0;
    transition: left 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.sidebar input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sidebar input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 20px;
}

.profile-link {
    margin-right: 10px;
}

.profile-link a {
    color: #fff;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    z-index: 20;
    position: relative;
    box-sizing: border-box;
}

.top-bar .title a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.top-bar .title a:hover {
    color: #cccccc;
}

.sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.sales-tiles {
    width: 250px;
    height: 150px;
    margin: 0 10px 10px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sales-tiles h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.sales-tiles p {
    font-size: 14px;
    color: #666;
}

.sales-tiles button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 25px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.sales-tiles button:hover {
    background-color: #0056b3;
}

.earning-report {
    height: 250px;
    width: 875px;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    display: flex;
    margin: 10px auto 10px;
}

.earning-report h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content ul li {
    margin-bottom: 8px;
}

.dropdown-content ul li a {
    text-decoration: none;
    color: #fff;
}

.profile-link:hover + #profileDropdown {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.new-lead-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

.new-lead-button:hover {
    background-color: #0056b3;
}

#leadForm label {
    display: block;
    margin-bottom: 10px;
}

#leadForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#leadForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#leadForm button[type="submit"]:hover {
    background-color: #0056b3;
}

.leads {
    height: auto;
    width: 875px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto 10px;
    position: relative;
}

.leads h2 {
    margin-top: 0;
}

#leadsList {
    list-style-type: none;
    padding: 0;
}

#leadsList li {
    margin-bottom: 10px;
}

.leads table {
    width: 100%;
    border-collapse: collapse;
}

.leads table th,
.leads table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.leads table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.search-wrapper {
    position: relative;
}

/*
.search-icon {
    float: left;
    margin-right: 5px;
    font-size: 18px;
    color: #999;
}
*/

.search-input {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.search-input:focus {
    background-color: #e0e0e0;
}

.mark {
    background-color: yellowgreen;
    color: black;
}