.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.new-lead-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

.new-lead-button:hover {
    background-color: #0056b3;
}

#quotationForm label {
    display: block;
    margin-bottom: 10px;
}

#quotationForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#quotationForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quotationForm button[type="submit"]:hover {
    background-color: #0056b3;
}

.quotation {
    height: auto;
    width: 875px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto 10px;
    position: relative;
}

.quotation h2 {
    margin-top: 0;
}

#quotationList {
    list-style-type: none;
    padding: 0;
}

#quotationList li {
    margin-bottom: 10px;
}

.quotation table {
    width: 100%;
    border-collapse: collapse;
}

.quotation table th,
.quotation table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.quotation table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.search-wrapper {
    position: relative;
}

/*
.search-icon {
    float: left;
    margin-right: 5px;
    font-size: 18px;
    color: #999;
}
*/

.search-input {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.search-input:focus {
    background-color: #e0e0e0;
}

.mark {
    background-color: yellowgreen;
    color: black;
}